* {
  box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    width: 30%;
    margin: 0 auto 1rem auto;
    padding: 0 auto;
}

fieldset {
    margin: .25rem;
}

h1 {
    text-align: center;
}

small {
    font-size: 1rem;
    display: block;
}

legend {
    color: green;
    text-align: center;
}

label {
    margin: .25rem;
}

input[type="text"], textarea, select {
    width: 100%;
    border: 1px solid black;
    margin: .5rem 0;
    border-radius: .25rem;

    padding: .25rem;
}

#order-button {
    background-color: green;
    color: white;
    width: 100%;
    margin-top: .5rem;
    padding: .5rem 0;
    border: 1px solid green;
    border-radius: .25rem;
}

img {
    margin-top: 1rem;
    width: 100%;
}