* {
    box-sizing: border-box;
}

body {
    margin: 0%;
}

main {
    width: 30%;
    margin: 0 auto 1rem auto;
    padding: 0 auto;
}

h1 {
    text-align: center;
}

legend {
    color: green;
    text-align: center;
}

label {
    display: block;
    padding: .2rem;
    margin: .25rem;
}

input[type="text"], textarea, select {
    width: 100%;
    border: 1px solid black;
    border-radius: .25rem;
    margin-bottom: 1rem;
    padding: .25rem;
}

#order-button {
    background-color: green;
    color: white;
    width: 100%;
    padding: .5rem 0;
    border: 1px solid green;
    border-radius: .25rem;
}

fieldset {
    margin: .25rem;
}

img {
    margin-top: .2rem;
}